.box div {
	-webkit-transition: height 1s;
}
.box div:hover {
	height: 300px;
  background-color: blue;
}
.box div{
  -webkit-animation: enteranceBD 1s ease; 
}

@-webkit-keyframes enteranceBD
{
  0% {-webkit-transform: translateY(0px);}       
  100% {-webkit-transform: translateY(1000px);}
}
.box6 {
	-webkit-transition: width 1s;
}
.box6:hover{
     width: 300px;
  background-color: red;
}
.box6 {
	-webkit-animation: boxsixth 1s ease;
}
@-webkit-keyframes boxsixth 
{
	 0% {-webkit-transform: translateY(0px);}       
  100% {-webkit-transform: translateY(1000px);}
}

.box #bb{
	-webkit-transition: width 1s;
}
.box #bb:hover {
	width : 300px;
  background-color: green;
}
.box #bb{
  -webkit-animation: enterance 1s ease; 
}

@-webkit-keyframes enterance
{
  0% {-webkit-transform: translateY(0px);}       
  100% {-webkit-transform: translateY(1000px);}
}
